<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order</title>
</head>
<body>
    <h1>Log a New Order</h1>
    <br>
    <form action="/create_order" method="post">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <label for="cookie_type">Cookie type:</label>
        <input type="text" name="cookie_type">
        <br>
        <label for="number_of_orders">Number of orders:</label>
        <input type="number" name="number_of_orders">
        <br>
        <button>Log</button>
    </form>
    <br>
    <a href="/">Back to purchases</a>
</body>
</html>